nodered_flow.json
[{"id":"714db183.35fc8","type":"tab","label":"PM's Assistant","disabled":false,"info":""},{"id":"72e47bc1.903954","type":"function","z":"714db183.35fc8","name":"Input Function","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":300,"wires":[["14db607.013ffa","db2c0045.011f3"]],"l":false},{"id":"1ae9d366.88779d","type":"function","z":"714db183.35fc8","name":"Output Function","func":"\n    msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":300,"wires":[["430da933.95d738","80229a30.86dbe8"]],"l":false},{"id":"be08b1ac.4c516","type":"inject","z":"714db183.35fc8","name":"","topic":"ChatBot","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199.60000610351562,"y":256.4000015258789,"wires":[["72e47bc1.903954"]],"l":false},{"id":"fa431ebd.4a193","type":"ui_form","z":"714db183.35fc8","name":"","label":"","group":"48b9f030.d1dc7","order":3,"width":"0","height":"0","options":[{"label":"enter your query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":360,"wires":[["72e47bc1.903954"]]},{"id":"f80fef78.90b4f","type":"ui_text","z":"714db183.35fc8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":-13,"y":397,"wires":[],"l":false},{"id":"14db607.013ffa","type":"watson-conversation-v1","z":"714db183.35fc8","name":"Bot","workspaceid":"2dc90b1a-c484-40e9-9945-ad64d9235daa","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/25cf2a71-1159-4522-aa54-1bcd2994ec9f","timeout":"","optout-learning":false,"x":428.00000762939453,"y":190.00000476837158,"wires":[["1ae9d366.88779d"]]},{"id":"db2c0045.011f3","type":"ui_text","z":"714db183.35fc8","group":"48b9f030.d1dc7","order":1,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":400,"wires":[],"l":false},{"id":"430da933.95d738","type":"debug","z":"714db183.35fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":440,"wires":[],"l":false},{"id":"80229a30.86dbe8","type":"ui_template","z":"714db183.35fc8","group":"48b9f030.d1dc7","name":"","order":2,"width":6,"height":5,"format":"<!DOCTYPE html>\n<html>\n<head>\n<style>\ndiv.scrl {\n  background-color: white;\n  width: 310px;\n  height: 400px;\n  overflow: auto\n  margin-bottom:20px;\n}\n</style>\n</head>\n<body>\n<div class=\"scrl\">{{msg.payload}}</div>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":100,"wires":[[]],"l":false},{"id":"48b9f030.d1dc7","type":"ui_group","z":"","name":"CHAT BOT","tab":"dadc4c1e.7cb16","order":1,"disp":true,"width":"6","collapse":false},{"id":"dadc4c1e.7cb16","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]